
/* Globaalit tyylit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Body tyyli */
body {
    background-color: #888b89;
    color: #000000;
    line-height: 1.6;
}

/* Header, Footer, ja navigaatio tyylit */
header {
    background: #222222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background: #414141;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #414141;
    overflow: hidden;
}

nav a:hover {
    background: rgb(0, 0, 0);
    border: 1px solid #000;
}
/* Footerin sijoitus sekä tyylit */
footer {
    text-align: center;
    padding: 20px;
    background: #00000000;
    color: #fff;
    margin-top: 100px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.8);
    animation: glow-effect 1.5s ease-in-out infinite alternate;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

@keyframes glow-effect {
    0% {
        box-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 255, 1);
    }
}

/* Containerin tyylit */
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Main tyylit*/
main {
    padding: 20px;
    background: #888b89;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Kuvien asettelu */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.image-text-container {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.scaled-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(228, 54, 63, 0.7);
    transition: box-shadow 0.3s ease;
}

.scaled-image:hover {
    box-shadow: 0 0 40px rgb(255, 0, 0);
    transform: translateY(-5px);
}

/* Tekstien tyyli */
h1 {
    font-weight: 100;
    font-size: 44px;
}

h2 {
    font-weight: 300;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    font-size: 40px;
}

h4 {
    font-weight: 700;
    font-size: 30px;
}
h5{
font-weight: 800;
background: linear-gradient(to right, #5eff00, #ff0bd6);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 48px;
text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.473);
background-size: 200% 200%;
animation: gradientShift 3s ease infinite;
}
@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
p {
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}

/* Tablen tyylit */
td {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}


/* Kortin tyylit */
.card {
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(183, 0, 255, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card h4 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
}

.card table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.card table th, .card table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.card table th {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.card table td {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.card table tr:nth-child(even) td {
    background-color: #000000;
}

.card:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6), 0 0 30px 15px rgba(0, 0, 0, 0.6), 0 0 40px 20px rgba(255, 255, 0, 0.6);
    transform: translateY(-5px);
}

/* Hohtava tausta navigaatio paneelille */
.glowing-border {
    padding: 20px;
    font-size: 1.2rem;
    color: #9a4545;
    border: 5px solid #ff00ff;
    border-radius: 10px;
    animation: glow-border 2s infinite alternate;
    text-align: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px #ff00ff;
}

@keyframes glow-border {
    0% {
        border-color: #ff00ff;
        box-shadow: 0 0 10px #ff00ff;
    }
    50% {
        border-color: #00ffff;
        box-shadow: 0 0 20px #00ffff;
    }
    100% {
        border-color: #ff00ff;
        box-shadow: 0 0 10px #ff00ff;
    }
}

nav.glowing-border {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

nav.glowing-border a {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

@media (max-width: 768px) {
    nav.glowing-border {
        flex-direction: column;
        align-items: center;
    }

    nav.glowing-border a {
        width: 100%;
        padding: 15px 0;
    }
}
